.blog-list {
  background: #f6f6f6;
  min-height: calc(100vh - 80px);
  overflow: hidden;
}

.blog-list li {
  padding: 0 10px 10px;
  background: #fff;
  margin-bottom: 10px;
}

.item-head p {
  line-height: 14px;
  color: #999;
  font-size: 12px;
}

.item-head p i {
  font-size: 14px;
}

.item-content {
  margin-top: 10px;
}

.item-content .text {
  float: left;
  width: 80%;
  box-sizing: border-box;
  padding-right: 10px;
  font-size: 14px;
  line-height: 24px;
  word-break: break-all;
}

.item-content .img {
  float: right;
  width: 20%;
}