

.title-btn.icon {
  position: absolute;
  top: -2px;
  right: 15px;
  color: #fff;
  font-size: 24px;
}

.tag-title {
  font-weight: normal;
}

.tag-title::before {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.tag-list {
  text-align: center;
}

.tag-list li {
  border-radius: 5px;
  margin-top: 10px;
}

.tag-list li.checked {
  background: red;
  border: 1px solid red;
  color: #fff;
}