.user-list {
  padding: 0 10px;
}

.user-list>li {
  margin-top: 10px;
}

.user-list>li>a>span::before,
.user-list>li>span::before {
  margin-right: 10px;
  font-size: 18px;
}

.user-list>li>a>span,
.user-list>li>span {
  float: left;
  letter-spacing: 1px;
}

.user-list>li>a>div,
.user-list>li>div {
  float: left;
  height: 40px;
}

.ColorPicker {
  display: inline-block;
}

.entry {
  float: right;
  font-size: 24px;
}

.clear-hint {
  line-height: 24px;
  margin: 20px 0;
  font-size: 14px;
}