.title {
  font-size: 18px;
  margin: 10px 0;
  line-height: 30px;
}

.addTime {
  float: left;
  line-height: 20px;
  font-size: 12px;
  color: #999;
}

.addTime i {
  font-size: 14px;
}

.content {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  
}

.content p {
  
  /* text-indent: 30px;
  box-sizing: border-box; */
}

.content img {
  text-align: center;
  /* transform: translateX(-30px); */
}