body {
  word-break: break-all;
}

.body {
  padding: 0 10px;
}

.link {
  display: block;
}

.mt10 {
  margin-top: 10px;
}

.ql-align-center {
  text-align: center;
}

.ql-indent-1 {
  text-indent: 30px;
}