body {
  word-break: break-all;
  max-width: 750px;
  margin: 0 auto;
}

.body {
  padding: 0 10px;
}

.link {
  display: block;
}

.mt10 {
  margin-top: 10px;
}

.ql-align-center {
  text-align: center;
}

.ql-indent-1 {
  text-indent: 30px;
}

.introduce-wrap.body {
  padding-bottom: 30px;
}

.introduce-text {
  text-indent: 28px;
  line-height: 24px;
  letter-spacing: 1px;
}

.img-wrap {
  padding: 20px 50px;
  text-align: center;
}

.img-wrap span {
  display: block;
  font-size: 12px;
  color: #999;
  line-height: 12px;
}